<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
	<!-- 设定MyBatis在运行时的行为方式 -->
	<!-- 
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="aggressiveLazyLoading" value="true" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="autoMappingBehavior" value="PARTIAL" />
		<setting name="defaultExecutorType" value="SIMPLE" />
		<setting name="defaultStatementTimeout" value="10000" />
	</settings>
	 -->

	<!-- 类型别名是为Java类型命名一个短的名字, 它只和XML配置有关，用来减少类完全限定名的多余部分 -->
	<!--  
	<typeAliases>
		<typeAlias alias="SysUser" type="com.cattsoft.baseplatform.func.sm.entity.SysUser" />
		<typeAlias alias="UserOwnerRela" type="com.cattsoft.baseplatform.func.sm.entity.UserOwnerRela" />
	</typeAliases>
	-->

	<!-- 类型处理器被用来将获取的值以合适的方式转换成Java类型 -->
	<!--
	<typeHandlers>
		<typeHandler javaType="String" jdbcType="VARCHAR" handler="org.mybatis.example.ExampleTypeHandler" />
	</typeHandlers>

	<mappers>
		<mapper resource="com/ninerr/admin/AdminMapper.xml" />
		<mapper resource="com/ninerr/shop/ShopMapper.xml" />
	</mappers>
	 -->
</configuration>